body {
    background-color: #f0f0f0;
    color: rgb(0, 0, 119);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-transform: uppercase;
    font-weight: bolder;
    font-size: larger;
    padding-left: 1em;
    padding-top: 1em;
    width: 85%;
    border-bottom: medium solid rgb(92, 92, 92);
    padding-bottom: .3em;
}

h1:first-letter {
    font-size: x-large;
    color: crimson;
}

a {
    padding: 1em;
    border: 1px solid gray;
    color: gray;
    font-weight: bold;
    border-radius: .2em;
}

a:hover {
    background-color: silver;
    color: rgb(0, 0, 119);
}

a:active {
    border: 2px solid red;
    background-color: rgb(241, 122, 122);
    color: rgb(0, 0, 119);
}

div.complete {
    margin: 0;
    margin-top: 2em;
    width: 80%;
    -ms-transform: translateX(+10%);
    transform: translateX(+10%);
    border: thin solid gray;
    border-radius: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.workarea {
    margin-top: 1em;
    padding-left: 2.2em;
    padding-right: 2.2em;
    text-align: center;
}


/*kleine Displays*/
@media all and (max-width: 75em) {
    h1 {
        font-size: xx-large;
    }

    h1:first-letter {
        font-size: xx-large;
    }

    a {
        padding: 2em;
        font-weight: bold;
        border-radius: .4em;
    }

    div.workarea {
        margin-top: 2.6em;
        padding-left: .2em;
        padding-right: .2em;
    }

}
