body {
    background-color: #f0f0f0;
    color: rgb(0, 0, 119);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-transform: uppercase;
    font-weight: bolder;
    font-size: larger;
    padding-left: 1em;
    padding-top: 1em;
    width: 85%;
    border-bottom: medium solid rgb(92, 92, 92);
    padding-bottom: .3em;
}

h1:first-letter {
    font-size: x-large;
    color: crimson;
}

a {
    padding: 1em;
    border: 1px solid gray;
    color: gray;
    font-weight: bold;
    border-radius: .2em;
    text-decoration: none;
    display: inline-block;
    width: 10em;
}

a:hover {
    background-color: silver;
    color: rgb(0, 0, 119);
}

a:active {
    border: 2px solid red;
    background-color: rgb(241, 122, 122);
    color: rgb(0, 0, 119);
}

div.complete {
    margin: 0;
    margin-top: 2em;
    width: 80%;
    -ms-transform: translateX(+10%);
    transform: translateX(+10%);
    border: thin solid gray;
    border-radius: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.workarea {
    margin-top: 1em;
    padding-left: 2.2em;
    padding-right: 2.2em;
    padding-bottom: 2.5em;
    text-align: center;
}

canvas.measure {
    /*border: thin solid red;*/
    width: 100%;
    min-height: 25em;
    max-height: 35em;
}

/*kleine Displays*/
@media all and (max-width: 45em) {
    h1 {
        font-size: xx-large;
    }

    h1:first-letter {
        font-size: xx-large;
    }

    a {
        padding: 2em;
        font-weight: bold;
        border-radius: .4em;
    }

    div.complete {
        margin-top: .8em;
        width: 92%;
        -ms-transform: translateX(+4%);
        transform: translateX(+4%);
        border-radius: .6em;
        box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
    }

    div.workarea {
        font-size: x-small;
        margin-top: 2.6em;
        padding-left: .35em;
        padding-right: .35em;
        padding-bottom: .4em;
    }

    canvas.measure {
        font-size: xx-small;
        border: thin solid green;
        width: 100%;
        min-height: 15em;
        max-height: 25em;
    }


}
